* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #fb7d03;
  --black: #000000;
  --white: #ffffff;
  --whitesmoke: #f5f5f5;
  --border: #707070;
  --stars: #ffb601;
  --hover: #BB5F05;
}

/*General settings for fonts*/

h1 {
  font-size: 37px;
  color: var(--primary);
}
h2 {
  font-size: 29px;
  color: var(--black);
}
h3 {
  font-size: 22px;
  color: var(--black);
}
p {
  font-size: 16px;
  color: var(--black);
}

/* Footer styling */

.App {
  font-family: sans-serif;
  min-height: 100vh;
}

footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100vw;
  border-top: 1px solid var(--border);
}

footer {
  height: 488px;
  background-color: var(--white);
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--black);
}

li {
  list-style: none;
}


footer .column1 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 8;
    width: 100%;
  }
  footer .column2 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 8;
    width: 100%;
  }
  footer .column3 {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 8;
    width: 100%;
  }
  footer .column4 {
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 8;
    width: 100%;
  }

  

.column li {
  margin: 1rem auto auto auto;
}

.column li h3 {
  margin: 3rem auto 1rem auto;
}

.column li h2 {
  margin: 3rem auto 1rem auto;

}

.h2Hotello {
  color: var(--primary);
  text-decoration: none;
  text-transform: uppercase;
}


#contactInformation {
  margin: 60px auto auto auto;
}

.copyright {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 10;
  grid-row-end: auto;
  width: 100%;
  background-color: var(--primary);
 
}

.copyrightText {
  margin-top: 1.5rem;
  width: 100%;
  text-align: center;
  color: var(--white);
}

/*    HEADER    */
/* General styling for the header component, including logo and nav.  */
header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-start: 1;
  grid-row-end: 4;
  width: 100vw;
  

  background-color: var(--white);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
} 

.topbar_darkslate {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 5vh;
  
  background-color: var(--whitesmoke);
}

header h1 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: auto;
  text-transform: uppercase;
  color:var(--primary);
  font-size: 2.5rem;
  padding: 24px;
  }
  
  header nav {
    grid-column-start: 9;
    grid-column-end: 12;
  }

header ul {
  list-style-type: none;
}

header li {
  display: inline-block;
  margin: 2.2rem 24px auto 32px;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}



/*BUTTON*/
/*General styling for the buttons*/

button {
  background-color: var(--primary);
  border: none;
  border-radius: 24px;
  width: 10rem;
}

button:hover {
  background-color: var(--hover);
}

button p {
  color: var(--white);
  padding: 25px;
}


/* Searchbar CSS och Hero */
.searchForm {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 130px;
}

.Hero {
  /* height sätts i inline-styling */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100vw;
}

.HeroImg {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 4;
  width: 100%;
}

.HeroSearch {
  grid-column-start: 3;
  grid-column-end: 10;
  grid-row-start: 3;
  grid-row-end: 3;
}

.HeroText{
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 2;
}

.HeroOverlay{
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Cards på startsidan */

.Homecards_grid{
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 16px;
  padding-bottom: 16px;
}

.Homecard{
  background-color: var(--whitesmoke);
  border-radius: 24px;


  padding: 24px;

}

.MainHome{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.MainHomeGridItems{
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 2;
}

.Homecards_grid2{
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 16px;
  
}

.border{
  border: 2px;
  border-color: var(--primary);
  border-style: solid;
}