* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #fb7d03;
  --black: #000000;
  --white: #ffffff;
  --whitesmoke: #f5f5f5;
  --border: #707070;
  --stars: #ffb601;
  --hover: #bb5f05;
}

/*General settings for fonts*/



h1 {
  font-size: 37px;
  color: var(--primary);
}
h2 {
  font-size: 29px;
  color: var(--black);
}
h3 {
  font-size: 22px;
  color: var(--black);
}
p {
  font-size: 16px;
  color: var(--black);
}

.App {
  font-family: sans-serif;
  min-height: 100vh;
}

li {
  list-style: none;
}


/*    HEADER    */
/* General styling for the header component, including logo and nav.  */


header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-start: 1;
  grid-row-end: 4;
  width: 100vw;
  background-color: var(--white);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.topbar_darkslate {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 5vh;
  background-color: var(--whitesmoke);
}

header h1 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: auto;
  text-transform: uppercase;
  color: var(--primary);
  font-size: 2.5rem;
  padding: 24px 0px 24px 0px;
}

header nav {
  grid-column-start: 6;
  grid-column-end: 11;
  justify-self: end ;
}

header ul {
  list-style-type: none;
}

header li {
  display: inline-block;
  margin: 2.2rem 24px auto 32px;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}


/* Cards på startsidan */



.Homecards_grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 16px;
  padding-bottom: 16px;
}

.Homecard {
  background-color: var(--whitesmoke);
  border-radius: 24px;
  padding: 24px;
}

.MainHome {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.MainHomeGridItems {
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 2;
}

.Homecards_grid2 {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 1rem;
}

.border {
  border: 2px;
  border-color: var(--primary);
  border-style: solid;
}
