
.MainHomeGridItems-Submit_Booking{
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
    height: 100%;
    background-color: var(--whitesmoke);
    border-radius: 24px;
    padding: 32px;
}


.formSubmitBoxWrapper{
    display: grid;
    height: 100%;
  padding-top: 16px;

}



.innerSubmitBoxWrapper{

  grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1
    ;
    grid-row-end: 4;
}

.innerSubmitButtonWrapper{
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 4;
    justify-self: right;
    height: 100%;
}

.innerSubmitButtonWrapper p{
    text-align: right;
    margin: 0px;
}

.positionSubmitButtonBooking{
    display: flex;
    justify-content: end;
}


.innerCheckInDateWrapper{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
}

.innerCheckOutDateWrapper{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 4;
}

.insideImgCardBooking{
  
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
    margin-left: 32px;
    border-radius: 0px 24px 24px 24px;
}