* {
    margin: 0;
    padding: 0;
  }
  
  :root {
    --primary: #fb7d03;
    --black: #000000;
    --white: #ffffff;
    --whitesmoke: #f5f5f5;
    --border: #707070;
    --stars: #ffb601;
    --hover: #BB5F05;
  }
  
  /*General settings for fonts*/
  
  h1 {
    font-size: 37px;
    color: var(--primary);
  }
  h2 {
    font-size: 29px;
    color: var(--black);
  }
  h3 {
    font-size: 22px;
    color: var(--black);
  }
  p {
    font-size: 16px;
    color: var(--black);
  }


  /*OVERVIEW HOTEL GENERAL SETTINGS*/

div .HotelOverviewMain {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: repeat(24, 1fr);
    margin-bottom: 1rem;
}

.iconsForHotel img {
  background-color: var(--black);
  border-radius: 50%;
  padding: 5px;
  height: 2rem;
  width: 2rem;
}

.OverviewBox {
    grid-column-start: 6;
    grid-column-end: 16;
    grid-row-start: 2;
    grid-row-end: 20;
    background-color: var(--whitesmoke);
    border-radius: 24px;
    padding: 24px;  
}

.HotelInfoSummary {
    
  grid-column-start: 16;
  grid-column-end: 22;
  grid-row-start: 2;
  grid-row-end: 21;
  border-radius: 24px;

  background-color: var(--whitesmoke);
}

.HeaderSummary {
  padding: 24px;
}

.HotelInfoSummary li {
  text-decoration: none;
  padding-top: 21px;
}

.priceFrom {
  grid-column-start: 19;
  grid-column-end: 22;
  grid-row-start: 20;
  grid-row-end: 21;
  margin: 10.5rem auto auto 12rem;

}


.winterSport {
  background-color: var(--whitesmoke);
  border-radius: 24px;
  grid-column-start: 6;
  grid-column-end: 11;
  grid-row-start: 20;
  grid-row-end: 21;
  padding: 24px;

}

.summerVacation {
  background-color: var(--whitesmoke);
  border-radius: 24px;
  grid-column-start: 11;
  grid-column-end: 16;
  grid-row-start: 20;
  grid-row-end: 21;
  padding: 24px;
}

