.bookingFormBox {
  width: 100%;
  height: 100%;
  background-color: var(--whitesmoke);
  border-radius: 24px;
  padding: 32px;
}


.MainHome-Booking{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
}

.MainHomeGridItems_FormBooking{
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3;
}

.MainHomeGridItems-Summery_Booking{
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: 100%;
    background-color: var(--whitesmoke);
    border-radius: 24px;
    padding: 32px;
}




