* {
    margin: 0;
    padding: 0;
  }
  
  :root {
    --primary: #fb7d03;
    --black: #000000;
    --white: #ffffff;
    --whitesmoke: #f5f5f5;
    --border: #707070;
    --stars: #ffb601;
    --hover: #bb5f05;
  }
  
  /*General settings for fonts*/
  
  h1 {
    font-size: 37px;
    color: var(--primary);
  }
  h2 {
    font-size: 29px;
    color: var(--black);
  }
  h3 {
    font-size: 22px;
    color: var(--black);
  }
  p {
    font-size: 16px;
    color: var(--black);
  }
  


  /*BUTTON*/
/*General styling for the buttons*/



.buttons{
    margin-bottom: 32px;
}

.defaultButton {
    background-color: var(--primary);
    border: none;
    border-radius: 24px;
    width: 12rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .defaultButton:hover {
    background-color: var(--hover);
  }
  
  .defaultButton p {
    color: var(--black);
   
    

  }
  