.insideCardsGrid {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.insideImgCard {
  height: 504.43px;
  width: 504.43px;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  margin-left: 32px;
  border-radius: 0px 24px 24px 24px;
}

.hotelListPriceButtonWrapper{
  position: absolute;
  right: 32px;
  bottom: 32px;
}

.hotelListPrice{
  margin-bottom: 24px;
}

.insideTextCard{
    padding: 32px;
    grid-column-start: 5;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 3;
}

.hotelListFlag{
  border-radius: 100%;
  background-color: antiquewhite;
  height: 41.89px;
  width: 41.89px;
  position: absolute;
  right: 32px;
  top: 32px;
}

.iconTextBox{
  display: flex;
  height: 50px;
  align-items: center;
  font-weight: bold;


}


.iconImgBox{
  display: flex;
  height: 50px;
  width: 50px;


}


.iconBoxWrapper{
  display: grid;
  grid-template-columns: 41.89px auto 41.89px auto;

}

/* 

.iconParagraph{
  display: flex;
  height: 100%;
  align-items: center;
  font-weight: bold;
  padding-top: 10px;
} */

.inline-block{
  display: inline-block;
}